<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2 class="h2" style="text-align: center;color: aliceblue; " routerLink="/home">{{'choose_language' | translate }}
    </h2>

  </div>
</nav>


<app-void-button [text]="'ADD EMPLOYEE'" (onClick)='clickAddEmployee()' data-bs-target="#exampleModal" type="button"
  data-bs-toggle="modal">
</app-void-button>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col"> First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let row of employeeData'>
      <td>{{row.id }}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobile}}</td>
      <td>PKR {{row.salary}}</td>
      <td>
        <button (click)='onEdit(row)' class='btn btn-info' type="button" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Edit</button>
        <button (click)="DeleteEmployee(row)" class='btn btn-danger mx-3'>Delete</button>

    </tr>
  </tbody>
</table>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]='formValue'>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" formControlName='firstName' class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="text" formControlName='lastName' class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email Id</label>
            <input type="email" formControlName='email' class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile No</label>
            <input type="number" formControlName='mobile' class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input type="number" formControlName='salary' class="form-control" id="exampleInputPassword1">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" id='cancel' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="postEmployeeDetail()" *ngIf='showAdd' class="btn btn-primary">ADD</button>
        <button type="button" (click)="updateEmployeeDetail()" *ngIf='showUpdate'
          class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
